[copr:copr.fedorainfracloud.org:rhcontainerbot:container-selinux]
name=Copr repo for container-selinux owned by rhcontainerbot
type=rpm-md
baseurl=https://download.copr.fedorainfracloud.org/results/rhcontainerbot/container-selinux/epel-{{ ansible_distribution_major_version }}-$basearch/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-copr-rhcontainerbot-container-selinux
skip_if_unavailable=True
