#!/bin/bash

## Log script for container {{ item.name }}
## Requires sudo access

if [ "$1" == "raw" ]; then
    FORMAT=cat
elif [ "$1" == "" ]; then
    FORMAT=short
else
    FORMAT="$1"
fi

sudo journalctl CONTAINER_TAG=container/{{ item.name }} -o "$FORMAT"
